# app config
ALLOWED_ORIGIN=
APP_ENVIRONMENT=
APP_PORT=

# auth config
JWT_SECRET=
OAUTH_CLIENT=
OAUTH_IOS_CLIENT=
OAUTH_REDIRECT_URL=
OAUTH_SECRET=

# rabbitmq
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_TEST_PORT=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
CONTACT_TASKS_QUEUE=

# postgresql
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_TEST_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=